html {
    scroll-behavior: smooth;
  }
  
  :root {
    --primary: #fc7ed7;
    --spacing: 4rem;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    margin: 0;
    color: #555555;
    background-color: #D7FDF0
  }
  
  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  h1 {
    margin-bottom: 2rem;
    font-size: 5vw;
    font-weight: bold;
    line-height: 1.4em;
  }
  
  section {
    padding: var(--spacing);
  }
  
  p {
    margin-bottom: 1em;
    line-height: 1.4em;
  }
  
  
  #introBox {
   border-radius: 25px;
   background-color: aliceblue;
   padding: 2rem;
   -webkit-box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
   -moz-box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
    box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
    animation-name: popIn;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: forwards;
  }
  
  
  .neutral-theme {
    --button-color: var(--primary);
    --button-hover-color: white;
  }
  
  .primary-theme {
    color: rgb(7, 4, 7);
    background-color: var(--primary);
    --button-color: white;
    --button-hover-color: var(--primary);
  }
  
  .button {
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
    transition: all 0.3s ease-in-out;
    max-width: 25%;
    min-width: fit-content;
  }
  
  .button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-color);
  }
  
  .header-highlight {
    color: var(--primary);
  }

  .underline {
    text-decoration: none;
    position: relative;
  }

  .underline::after {
    position: absolute;
    content: '';
    height: 2px;
    
    bottom: -4px;
    left: 0;
    background: var(--primary);
    animation-name: underline;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;

  }

  @keyframes underline {
    0% {width: 0%}
    100% {width: 100%}
    
  }
  
  .header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-link::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-style: solid;
    border-width: 0.75rem 0.5rem 0 0.5rem;
    border-color: var(--primary) transparent transparent transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
  .header-link:hover::after {
    border-color: white transparent transparent transparent;
  }

  #header {
   background-image:url(https://sadhost.neocities.org/images/tiles/anachdruk28background.gif);
   background-color: var(--primary);
   mask-image: linear-gradient(to top, transparent 5%, black 15%);
   -webkit-mask-image: linear-gradient(to top, transparent 5%, black 15%);
  }

  #aboutMe {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  #selfie {
    width: 50%;
    align-self: flex-start;
    outline: solid 5px #FC5185;
    animation-name: colorChangeOutline;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: box-shadow 2s ease-out;
  }

  #selfie:hover {
    -webkit-box-shadow: 0px 0px 32px 10px rgba(40, 65, 74, 1);
    -moz-box-shadow: 0px 0px 32px 10px rgba(40, 65, 74, 1);
    box-shadow: 0px 0px 32px 10px rgba(40, 65, 74, 1);
  }

  .sectionHeading {
    text-decoration: underline 5px;
    text-underline-offset: .25em;
    align-self: flex-end;
    animation-name: colorChangeText;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0
  }
  .aboutFlex {
    display: flex;
  }

  #aboutMePara {
    font-size: 2vw;
    text-align: right;
    align-self: center;
  }

  .delay-1 {
    animation-delay: 0.6s;
  }
  .delay-2 {
    animation-delay: 0.7s;
  }
  .delay-3 {
    animation-delay: 0.8s;
  }

   
  @keyframes colorChangeText {
    0%   {color: rgba(252, 126, 215, 1);}
    25%  {color: purple;}
    50%  {color: blue;}
    100% {color: rgba(252, 126, 215, 1);}
  }

  @keyframes colorChangeOutline {
    0%   {outline: rgba(252, 126, 215, 1) solid 5px;}
    25%  {outline: purple solid 5px;}
    50%  {outline: blue solid 5px;}
    100% {outline: rgba(252, 126, 215, 1) solid 5px;}
  }

  @keyframes popIn { 
    0% {
        opacity: 0; 
        transform: scale(0.5, 0.5);}
    100% {
        opacity: 1; 
        transform: scale(1, 1);}
  }

  @keyframes fadeIn {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; }
  }
  
  @media only screen and (max-width: 600px) {
    
    #selfie { 
        width:60%;
        align-self: auto
    }
    .sectionHeading {
        align-self: auto;
      }
    .aboutFlex {
        flex-direction: column;
        align-items: center;
    }
    #aboutMePara {
        font-size: 4vw;
        text-align: center;
    }
  }