html {
    scroll-behavior: smooth;
  }
  
  :root {
    --primary: rgba(252, 126, 215, 1);
    --spacing: 4rem;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    margin: 0;
    color: #555555;
  }
  
  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  h1 {
    margin-bottom: 2rem;
    font-size: 5vw;
    font-weight: bold;
    line-height: 1.4em;
  }
  
  section {
    padding: var(--spacing);
  }
  
  p {
    margin-bottom: 1em;
    line-height: 1.4em;
  }
  
  
  #introBox {
   border-radius: 25px;
   background-color: aliceblue;
   padding: 2rem;
   -webkit-box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
   -moz-box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
    box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
  }
  
  
  .neutral-theme {
    --button-color: var(--primary);
    --button-hover-color: white;
  }
  
  .primary-theme {
    color: rgb(7, 4, 7);
    background-color: var(--primary);
    --button-color: white;
    --button-hover-color: var(--primary);
  }
  
  .button {
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
    transition: all 0.3s ease-in-out;
    max-width: 25%;
    min-width: fit-content;
  }
  
  .button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-color);
  }
  
  .header-highlight {
    color: var(--primary);
  }
  
  .header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-link::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-style: solid;
    border-width: 0.75rem 0.5rem 0 0.5rem;
    border-color: var(--primary) transparent transparent transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
  .header-link:hover::after {
    border-color: white transparent transparent transparent;
  }

  #header {
   background-image:url(https://sadhost.neocities.org/images/tiles/anachdruk28background.gif)
  }
  
 