html {
    scroll-behavior: smooth;
  }
  
  :root {
    --primary: #fc7ed7;
    --spacing: 4rem;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    margin: 0;
    color: #555555;
    background-color: #D7FDF0
  }
  
  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  h1 {
    font-size: 5vw;
    font-weight: bold;
    line-height: 1.4em;
  }

  h2 {
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.4em;
  }
  
  p {
    margin-bottom: 1em;
    line-height: 1.4em;
  }
  
  
  #introBox {
   border-radius: 25px;
   opacity: 0;
   background-color: aliceblue;
   padding: 2rem;
   -webkit-box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
   -moz-box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
    box-shadow: 8px 8px 3px 5px rgba(252, 126, 215, 1);
    animation-name: popIn;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: forwards;
  }
  
  
  .neutral-theme {
    --button-color: var(--primary);
    --button-hover-color: white;
  }
  
  .primary-theme {
    color: rgb(7, 4, 7);
    background-color: var(--primary);
    --button-color: white;
    --button-hover-color: var(--primary);
  }
  
  .button {
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
    transition: all 0.3s ease-in-out;
    max-width: 25%;
    min-width: fit-content;
  }
  
  .button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-color);
  }
  
  .header-highlight {
    color: var(--primary);
  }

  .underline {
    text-decoration: none;
    position: relative;
  }

  .underline::after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -4px;
    left: 0;
    background: var(--primary);

    animation-name: underline;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;

  }

  @keyframes underline {
    0% {width: 0%}
    100% {width: 100%}
    
  }
  
  .header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-link::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-style: solid;
    border-width: 0.75rem 0.5rem 0 0.5rem;
    border-color: var(--primary) transparent transparent transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
  .header-link:hover::after {
    border-color: white transparent transparent transparent;
  }

  #header {
   background-image:url(https://sadhost.neocities.org/images/tiles/anachdruk28background.gif);
   background-color: var(--primary);
   mask-image: linear-gradient(to top, transparent 5%, black 15%);
   -webkit-mask-image: linear-gradient(to top, transparent 5%, black 15%);
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .sectionHeading {
    text-decoration: underline 5px;
    text-underline-offset: .25em;
    animation-name: colorChangeText;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0
  }
  .aboutFlex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  #aboutMe {
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    
  }

  #selfie {
    margin: 0 auto;
    width: 20%;
    max-width: 350px;
    outline: solid 5px #FC5185;
    animation-name: colorChangeOutline;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: box-shadow 2s ease-out;
  }


  #selfie:hover {
    -webkit-box-shadow: 0px 0px 32px 10px rgba(40, 65, 74, 1);
    -moz-box-shadow: 0px 0px 32px 10px rgba(40, 65, 74, 1);
    box-shadow: 0px 0px 32px 10px rgba(40, 65, 74, 1);
  }



  #aboutMePara {
    font-size: 2vw;
    align-self: center;
    margin-left: 10px;
    text-align: center;
    width: 50%;
  }

  .icon {
    width: 5%;
    height: auto;
    padding: 5px;
  }

  #iconTray {
    margin-bottom: 10px;
  }

  .delay-1 {
    animation-delay: 0.6s;
  }
  .delay-2 {
    animation-delay: 0.7s;
  }
  .delay-3 {
    animation-delay: 0.8s;
  }

   
  @keyframes colorChangeText {
    0%   {color: rgba(252, 126, 215, 1);}
    25%  {color: purple;}
    50%  {color: blue;}
    100% {color: rgba(252, 126, 215, 1);}
  }

  @keyframes colorChangeOutline {
    0%   {outline: rgba(252, 126, 215, 1) solid 5px;}
    25%  {outline: purple solid 5px;}
    50%  {outline: blue solid 5px;}
    100% {outline: rgba(252, 126, 215, 1) solid 5px;}
  }

  @keyframes popIn { 
    0% {
        opacity: 0; 
        transform: scale(0.5, 0.5);}
    100% {
        opacity: 1; 
        transform: scale(1, 1);}
  }

  @keyframes fadeIn {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; }
  }
  
 

  #projects {
    padding-bottom: 5vh;
    padding-top: 50px;
    background: linear-gradient(-45deg,  hwb(3 74% 3%), #faddbf, #f9ba76);
    background-size: 400% 400%;
    
    animation: gradient 10s ease infinite;
   
      --mask:
        radial-gradient(52.84px at 50% 73.50px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(52.84px at 50% -43.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
      -webkit-mask: var(--mask);
              mask: var(--mask);
  }

  @keyframes gradient {
      0% {
        background-position: 0% 50%;
        }
    
      50% {
        background-position: 100% 50%;
        }
    
      100% {
        background-position: 0% 50%;
        }
    }

  #imgHeader {
    max-width: 60%;
    margin-top: 25px;
    margin-bottom: 1rem;
    background-color: #D7FDF0;
    border-radius: 10px;
  }

  #wrapperGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   #gallery {
    display: flex;
    flex-direction: column;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    margin-right: 30px;
  }

  .image-gallery > li {
    flex-basis: 500px; /* width: 350px; */
    background-color: #D7FDF0;
    padding: 1em;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }

  .image-gallery li img:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
      transform: rotate3d(1, 2, 3, 10deg);
  }

  .boxShadow {
    -webkit-box-shadow: 0px 0px 20px 2px #D7FDF0;
    -moz-box-shadow: 0px 0px 20px 2px #D7FDF0;
    box-shadow: 0px 0px 20px 2px #D7FDF0;
  }

  @media (max-width: 700px) {
    #aboutMePara p {
      font-size: 4vw;
    }

    #selfie {
      width: 40%;
      margin-bottom: 20px;
    }
    .sectionHeading {
      font-size: 5vw;
    }

    #aboutMe {
      height: 100vh;
      justify-content: center;
    }

    .icon {
      width: 10%;
    }
  }


  
  .reveal{
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    opacity: 1;
    
  }
  
 